<mat-toolbar class="matero-toolbar">
  <button mat-icon-button class="matero-toolbar-button" *ngIf="showToggle"
          (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button class="matero-toolbar-button" fxHide.lt-sm
          (click)="toggleFullscreen()">
    <mat-icon>fullscreen</mat-icon>
  </button>

  <app-branding *ngIf="showBranding"></app-branding>
  <span fxFlex></span>


  <button data-toggle="modal" data-target="#exampleModal" mat-icon-button class="matero-toolbar-button">
    <mat-icon>search</mat-icon>
  </button>

 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #3949ab;">
        <h5 class="modal-title" style="color: black;" id="exampleModalLabel" >Title</h5>
        <button type="button" style="background-color : white;" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div  class="modal-body">
      
      </div>
    </div>
  </div>
</div>

  <app-notification fxHide.lt-sm></app-notification>

  <app-translate></app-translate>

  <a  class=" m-r-20 hidden-sm-up" mat-raised-button style="background-color: #69F0AE; color:black; " >Add New Patient</a>

  <app-user></app-user>

  <button mat-icon-button class="matero-toolbar-button" fxHide.lt-sm
          (click)="toggleSidenavNotice.emit()">
    <mat-icon>list</mat-icon>
  </button>
</mat-toolbar>
